
.card-container {
    width: 300px; 
    height: 380px;
    overflow: hidden;
    box-shadow: 0px 0px 15px -5px;
    transition: 0.3s;
    animation: ease-in-out;
}

.card-container:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 15px 0px;

}

.image-container img{
    overflow: hidden;
    height: 200px;
    width: 100%;
}


.card-content {
    margin: 1rem;
    margin-top: 0.5rem;
}

h3, p {
    margin: 0;
    padding: 0;
}

.card-body p {
    line-height: 1.5;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.card-body {
    height: 90px;
}

.btn {
    display: flex; 
    justify-content: center;
    transition: 0.2s;
    animation: ease;

}

.btn button {
    padding: 0.5rem;
    background-color: #fff; 
    border: none; 
    transition: 0.2s;
    animation: ease;

}

.btn button:hover {
    background-color: rgb(241, 109, 109); 
    cursor: pointer;
}



a {
    text-transform: uppercase;
   color:  rgb(241, 109, 109);
   transition: 0.2s
}

a:hover {
    color: #fff;
}

button:focus {
    outline: none;
}


.modal {
    position: fixed;
    width: 100%; /* Full width (cover the whole page) */
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); 
    justify-content: center;
}

.modal-content {
    position: absolute;
    height: 400px;
    width: 700px;
    background-color: #fff;
    display: grid;
    grid-template-columns: auto auto;
    border-radius: 20px;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

.img-container {
    margin: 10px;
    overflow: hidden;
}

.img-container img {
    overflow: hidden;
    height: 100%;
    border-radius: 20px;
}

.content-container {
    max-width: 100%;
    margin-top: 40px;
    margin-right: 40px;
    margin-left: 10px;
}

.content-container p {
    line-height: 1.5;
    white-space: normal;
    overflow: hidden;
    text-align: justify;
}

.title-container {
    margin: 10px;
    max-width: 100%;

}